body {
  font-family: Arial, sans-serif;
  background-color: #01161E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #124559;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 300px;
}

input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #AEC3B0;
  color: #EFF6E0;
  border: none;
  cursor: pointer;
}

#profile {
  margin-top: 20px;
}

#profile img {
  width: 100px;
  border-radius: 50%;
}

.profile-info {
  text-align: left;
  margin-top: 10px;
}
